* {
	margin: 50px 50px;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	margin: 50px 50px;
	text-align: center;
	background-color: #d6e6da;
	border: ridge;
	
}

h1 {
	size: 20px;
	background-color: #e9e0e2;
	border: double;
}

li {
	list-style: none;
	color: #cc263c;
}

.img {
	background-color: gray;
	margin: 0px;
}

footer{
	background-color: gray;
	border: ridge;
	border-color: #3d9887;
}

.btn {
	text-decoration: underline;
}

.links{
	text-align: center;
	margin: auto;
	font-size: 15px;
}
